.container-fluid{
    overflow-x:auto;
}

.editBtn{
    background-color: #febdbd;
}
.editBtn:hover{
    background-color: #f88e8e;
}

.designblockrow{
    width: 100%;
    overflow-x:auto;
    overflow-x: visible!important;
}

#checkhide:checked ~ .diagram_content{
    max-height: 0;
    max-width: 40px;
}
#checkhide:checked ~ .diagram_title{
    max-width: 40px;
}

.diagram_info{
    position: fixed;
    right: 0;
    top: 50px;
    background-color: #f8f8f8;
    z-index: 9999;
    box-shadow: 0 0 3px 1px #909090;
    border-radius: 5px;
}
.diagram_content{
    max-height: 400px; /* 调整展开的高度 */
    overflow: hidden;
    max-width: 100px;
    transition: max-height .2s,max-width.2s;
}
.diagram_title{
    height: 30px;
    background-color: #fbe7e7;
    position: relative;
    overflow: hidden;
    max-width: 100px;
    transition:  .2s,max-width.2s;
}
.checkhide{ /* label */
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 30px;
    cursor: pointer;
}
#checkhide{
    display: none;
}
/* 關閉按鈕 */
.close_info{
    width: 50%;
    height: 1px;
    background-color: #000;
    border-radius: 5px;
    transition: all .2s ease-in-out;

    box-shadow: 0 0 0 rgb(0, 0, 0);
    visibility: hidden;
    transform: translate(-25px,16px);
}
.checkhide:hover{
    background-color: red;
    transition: background-color .3s;
}
#checkhide:checked ~ .diagram_title .checkhide{
    background-color: grey;
}
.close_info::before, .close_info::after {
    content: '';
    position: absolute;
    right: 50%;
    width: 100%;
    height: 1px;
    background-color: #000;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.close_info::before{
    visibility: visible; /* 顯示偽元素 */
    opacity: 1;
    transform: rotate(45deg)
    translateX(32px)
    translateY(-32px);
}
.close_info::after{
    visibility: visible; /* 顯示偽元素 */
    transform: rotate(-45deg)
    translateX(32px)
    translateY(32px);
}
/* 漢堡選單to打叉動畫 */
#checkhide:checked ~ .diagram_title .close_info{
    transform: translate(50%,16px);
    visibility: visible; /* 顯示偽元素 */

}
#checkhide:checked ~ .diagram_title .close_info::before{ /*右上斜左下線*/
    transform: translate(50%,-6px);
    visibility: visible; /* 顯示偽元素 */
    transition: all .5s ease-in-out;

}
#checkhide:checked ~ .diagram_title .close_info::after{ /*左上斜右下線*/
    transform: translate(50%,6px);
    visibility: visible; /* 顯示偽元素 */
    transition: all .5s ease-in-out;
}


.choose_css{
    background-color: #3c3c3c !important;
}
.color_FFF{
    color:white !important;
}

.bck_orange{
    background-color: #ffd180;
}
.inputdivGP{
    height: 200px;
    overflow-y: auto;
    overflow-x:hidden;
}
#designinput button{
    height: 100%;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
#addinputGP{
    padding: 5px 30px;
    background-color: #28a745;
}
#formcheck{
    padding: 5px 30px;
    background-color: #007bff;
}
.destoryinputGP{
    width: 80%;
    background-color: red;
}
input{
    width: 100%;
}
.inputGP{
    padding: 5px 0;
}
.inputGP:hover{
    background-color: rgba(255, 165, 0, 0.41);
}
.title{
    background-color: #555;
    color:white;
}
.designblock{
    outline: black 1px solid;
    overflow: visible !important;
    position: relative;
    /*background-color: #f4ecdc;*/
    background-color: #fff7eb;
    resize: both;


}
.draggable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#000;
    width: 50px;
    height: 50px;
    top:10px;
    left:10px;
    opacity: 0.9;
    background-color: #e0e0e0;
    position: absolute;
    cursor: grab;
    user-select: none;
    outline: 2px solid #000000;
    text-align: center;
    line-height: 100%;
}
.draggable .routebtn{
    display: none;
    position: absolute;
    top:-40px;
    left:50%;
    transform: translate(-47%,calc(50% - 10px));
    width: 20px;
    height: 20px;
    color:black !important;
    cursor:all-scroll;
    z-index: 99999 !important;
}

.hidedraggable::before{
    display: none;
}
.draggable::before{
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1px;
    border: black dashed 2px;
    height: 20px;
}
/* resize */
.resizable-handle {
    width: 10px;
    height: 10px;
    background-color: #000;
    position: absolute;
    bottom: 0 !important;
    right: 0 !important;
    cursor: nwse-resize;
}
.title{
    text-align: center;
}
.floor:nth-child(2){
    border-top: 1px solid black;
}
.floor{
    /*border: 1px solid black;*/
    border-bottom: 1px solid black;
    padding: 10px 0;
    text-align: center;
    background-color: #ddd;
    color:black;
}


.bck_orange{
    background-color: orange !important;
}
