.editBtn{
    width: 100%;
    display: block;
    cursor: pointer;
    text-align: center;
    padding: 1px 0;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    color:black;
    transition: background .2s;
}
.editBtn:hover{
    color:black;
}

.floor_name{
    background-color: rgba(221, 191, 158, 0.8);
    border-radius: 5px;
}
.floor_ord{
    background-color: rgba(181, 181, 181, 0.25);
    border-radius: 500px;
    text-align: center;
}

.floor:hover{
    color:black;
    background-color: rgba(139, 139, 139, 0.62);
    transition:  background-color .3s;
}




/************************/
/**       滾動條       **/
/************************/
body::-webkit-scrollbar {  /* 設定滾動條寬度 */
    width: 8px; /* 左邊可以 上下的滾動條 長度 */
    height: 8px; /* 下面可以 左右的滾動條 長度 */
    /*background-color: #f5f5f5; /* 設定滾動條的顏色 */
}

body::-webkit-scrollbar-thumb { /* 設定滾動條顏色/圓角 */
    background-color: #969695;
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover { /* 設定滾動條移過去的顏色 */
    background-color: #1f1f20bd;
}

body::-webkit-scrollbar-track { /* 設定滾動條軌道的顏色 */
    background-color: rgb(234, 234, 234);
}

.userscrollbar::-webkit-scrollbar {  /* 設定滾動條寬度 */
    width: 8px; /* 左邊可以 上下的滾動條 長度 */
    height: 8px; /* 下面可以 左右的滾動條 長度 */
    /*background-color: #f5f5f5; /* 設定滾動條的顏色 */
}

.userscrollbar::-webkit-scrollbar-thumb { /* 設定滾動條顏色/圓角 */
    background-color: #969695;
    border-radius: 4px;
}

.userscrollbar::-webkit-scrollbar-thumb:hover { /* 設定滾動條移過去的顏色 */
    background-color: #1f1f20bd;
}

.userscrollbar::-webkit-scrollbar-track { /* 設定滾動條軌道的顏色 */
    background-color: rgb(234, 234, 234);
}

/* 自定義的確認框樣式 */
/* 確認框外部背景 */
.modal-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 透明度背景 */
    z-index: 1000;
}

/* 確認框樣式 */
.confirmation {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1001;
    width: 300px;
    max-width: 80%;
    text-align: center;
    font-family: Arial, sans-serif;
}

.confirmation .message {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
}

.confirmation .buttons {
    text-align: center;
}

.confirmation button {
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
}

.confirmation button:hover {
    background-color: #0056b3;
}
.confirmation .close-btn:hover{
    background: transparent ;
    color: #ff0000 !important;
    transition: background-color 0.3s ease;
}
/* 確認框中的取消按鈕（X） */
.confirmation .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #000;
    font-size: 30px;
    background: none;
    border: none;
}


.book_notice_red{
    background-color: #ff7272 !important;
}
